body{
	font-family: 'Open Sans', sans-serif;
	background-color: #F5F5F5;
	
}

html, body{
	height: 100%;
}

.left-band{
	height: 100vh; width: 5%; background-color: #2262A0; float: left;
}
.right-content{
	width: 95%; float: left;
}

.article-counts{
	font-size: 14px;
	/*margin-top: 18px;*/
}
.list-info{
	font-size: 12px;
	/*margin-top: 26px;*/
}
.view-type{
	display: inline-block;
	position: relative;
	padding: 0 5px;
}
.uline{
	text-decoration: underline;
}

.pub-date{
	font-size: 12px;
}
.pub-type{
	font-size: 9px;
	background-color: #ACCBEA;
	padding: 3px 7px;
	color: #fff;
	text-transform: uppercase;
	/* line-height: 40px; */
	border-radius:2px;
}
.pub-city{
	font-size: 10px;
}
.pub-heading{
	font-weight: 700;
	color:#2262A0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 315px;
	display: inline-block;
}
.pro-circles{
	height: 19px;
	width: 19px;
	border-radius:10px;
}


#news-table-header{
	border: solid 1px #CECDCD;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#news-table-header div{
	padding: 14px 9px;
	/*border-right: solid 1px #CECDCD;
	border-bottom: solid 1px #CECDCD;*/
}
#news-table-header div a{
	color: #212529;
}
#news-table-body{
	border-bottom: solid 1px #EAEAEA;
}
#news-table-body div.flexcell{
	padding: 14px 9px 5px 9px;
	border-bottom: solid 1px #EAEAEA;
}
#news-table-body div.flexcell:first-child{
	border-left: solid 1px #EAEAEA;
}
#news-table-body div.flexcell:last-child{
	border-right: solid 1px #EAEAEA;
}

.mozhight{
	flex: 1;
}


.aside-heading{
	font-size: 14px;
	font-weight: 700;
	color: #262626;
	border-bottom: solid 1px #EAEAEA;
}
.aside-links{
	font-size: 14px;
	line-height: 22px;
}
.nav-width{
	flex: 0 0 63px;
	overflow: hidden;
	background-color: #2262A0;
	-webkit-transition: flex 300ms ease-out;
    -moz-transition: flex 300ms ease-out;
    -o-transition: flex 300ms ease-out;
    transition: flex 300ms ease-out;
}
.exp{
	flex: 0 0 200px !important;
}
.top-nav{
	position: relative;
	top: 44px;
	width: 200px;
	
}
.smart-manage a{
	padding: 12px 22px;
	display: block;
	color: #fff !important;
	font-size: 14px;
}
.smart-manage .cls-1 {
  fill: #fff;
}
.smart-manage a:hover{
	background-color: #F8E367;
	color: #2262A0 !important;
	text-decoration: none;
	
}
.smart-manage a:hover .cls-1{
	fill: #2262A0;
}
.nav-text{
	display: inline-block;
	position: relative;
	top:-3px;
	left: 14px;
	opacity: 0;
	-webkit-transition: opacity 300ms ease-out ;
    -moz-transition: opacity 300ms ease-out ;
    -o-transition: opacity 300ms ease-out ;
    transition: opacity 300ms ease-out ;
}
.exp .smart-manage .nav-text{
	opacity: 1;
}
.bottom-nav{
	margin-top: auto;
	top: -40px;
	border-top:solid 1px #ACCBEA;
}
.t-body-outer{
	position: absolute; top: 48px; right: 15px; bottom: 0; left: 15px; display: flex;
}
.t-body-inner{
	min-height: -webkit-min-content; display: flex; flex-direction: column;
}
.custom-drop{
	font-size: 10px !important;
}
.custom-drop:after{
	font-size: 20px;
	margin-left: 20px;
}

.custom-drop:after:before{
	border-left: solid 1px #ACCBEA;
}
/*---------For Select Box--------------*/

/*the container must be positioned relative:*/
.my-select {
  position: relative;
  font-size:10px;
}
.my-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: #2262A0;
  border-radius:5px;
}
.select-selected.select-arrow-active{
	border-radius:5px 5px 0 0;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 13px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #ACCBEA transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #ACCBEA transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items, .select-items div:last-child, .select-items div.same-as-selected:last-child{
	border-radius:0 0 5px 5px;
	border-bottom: none;
}
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent #3a73ab transparent;
  cursor: pointer;
  user-select: none;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #2262A0;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color:#F8E367;
  color:#2262A0 !important;
}

/*---------For Select Box End--------------*/


.up-green {
	fill: #0fa203;
}
.fill-white{
	fill:#fff;
}
.st0{fill:#EAEAEA;}
.st1{enable-background:new;}
.st2{fill:#FFFFFF;}

.news-icon-bg{
	fill: #eaeaea;
}
.custom-nav{
	margin: 8px 0;
}
.custom-nav li a{
	background-color: #2262A0;
	color: #fff !important;
	font-size: 12px;
	padding: 8px 16px;
	min-width: 130px;
	border-right: solid 1px #accbea;
	text-align: center;
}
.custom-nav li a:hover, .custom-nav li a.active{
	background-color: #fdc800;
	color: #2262A0 !important;
	font-weight: 600;
}
.custom-nav li:first-child a{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.custom-nav li:last-child a{
	border-right: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.days{
	font-size: 12px;
	margin: 0 0 8px 0;
}
.days li a:hover, .days li a.active{
	background-color: #fdc800;
	color: #2262A0 !important;
	font-weight: 600;
}
.modal-link{
	font-size: 13px;
	font-weight: 700;
}
.content{
	font-size: 13px;
}

 /*FOR QUALIFICATION PAGE*/

.qualification-panel{
	background-color: #fff;
}
.qualification-panel .qbox{
	/*border:solid 1px #cecdcd;*/
}
.checkbox-input {
    position: relative;
    display: inline-block;
    padding-left: 24px;
    font-size: 14px;
    color: #4a4548;
    margin-bottom: 16px;
	  top:3px;
}
.qbox{
	/*padding:0 24px;
	margin-left: -15px;
	margin-right: -15px;*/
	border: solid 1px #CECDCD;
	border-radius: 10px;
	margin-top: 13px;
	margin-bottom: 13px;
	overflow: hidden;
}
.checkbox-input input[type=checkbox] {
    display: none;
}
.checkbox-input label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 21px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 1px;
    background: url(../images/uncheck.png) no-repeat;
}
.checkbox-input input[type=checkbox]:checked + label:before {
    background: url(../images/checked.png) no-repeat;
}
.showcase{
	font-weight: 700;
	font-size: 16px;
}
.showcase label:before{
	top:5px;
}
.impact-btn{
	border-radius: 3px;
    background-color: #2262a0;
    color: #fff;
    text-transform: capitalize;
    border: 0;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 13px;
    transition: all .1s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    -webkit-transition: all .1s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    -moz-transition: all .1s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    -o-transition: all .1s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    -ms-transition: all .1s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    outline: none;
    box-shadow: 0 10px 12px 0 rgba(25, 23, 26, 0.15);
    width: 120px;
}
.impact-btn:active {
    background-color: #2262a0;
    box-shadow: none;
}
.impact-btn:hover {
    background-color: #1b4d7d;
    color: #fff;
}
.form-control:focus{
	border-color: #c2c2c2;
	box-shadow: none;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c2c2c2;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c2c2c2;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #c2c2c2;
}




/*tree 2*/
.heading {
	font-weight: 700;
	color: #293538;
	padding: 10px 0 10px 10px;
	font-size: 16px;
	border-bottom: solid 1px #D0D0D0;
	margin: 16px 0;
}

ul.trees, ul.trees ul{
	list-style: none;
	padding: 0;
}
.trees {
  margin-left: 10px;
}

.trees li {
  border-left: dotted 1px #bcbec0;
  padding: 1px 0 1px 25px;
  position: relative
}

.trees li > label {
  position: relative;
  left: -11px
}

.trees li:before {
  content: "";
  width: 13px;
  height: 1px;
  border-bottom: dotted 1px #bcbec0;
  position: absolute;
  top: 10px;
  left: 0
}

.trees li:last-child:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 13px;
  background: #f2f5fa;
  left: -1px;
  bottom: 0px;
}

.trees li input {
  margin-right: 5px;
  margin-left: 5px
}

.trees li.has-child > ul {
  display: none
}

.trees li.has-child > input {
  opacity: 0;
  position: absolute;
  left: -14px;
  z-index: 9999;
  width: 22px;
  height: 22px;
  top: -5px
}

.trees li.has-child > input + .tree-control {
  position: absolute;
  left: -1px;
  top: 4px;
  width: 8px;
  height: 8px;
  line-height: 8px;
  z-index: 2;
  display: inline-block;
  color: #000;
  border-radius: 3px;
}

.trees li.has-child > input + .tree-control:after {
  font-family: 'Font Awesome 5 Free';
  /*content: "\f055";*/
  font-size: 8px;
  color: #183955;
  position: absolute;
  left: 1px
}

.trees li.has-child > input:checked + .tree-control:after {
  font-family: 'Font Awesome 5 Free';
  /*content: "\f055";*/
  font-size: 8px;
  color: #183955;
  position: absolute;
  left: 1px
}

.trees li.has-child > input:checked ~ ul {
  display: block
}

.trees ul li.has-child:last-child {
  border-left: none
}

.trees ul li.has-child:nth-last-child(2):after {
  content: "";
  width: 1px;
  height: 5px;
  border-left: dotted 1px #bcbec0;
  position: absolute;
  bottom: -5px;
  left: -1px
}

.tree-alt li {
  padding: 4px 0
}
/*tree 2 end*/

.q-body-outer{
	position: absolute;
	top: 0;
	/*right: 15px;
	left: 15px;*/
	bottom: 0;
	display: flex;
	width: 100%;
}
/*-- Dash CSS--*/
.duration a{
	font-size: 12px;
	color: #ccc;
}
.duration a.active-link{
	color: #000;
}
.chart{
	border-radius: 3px;
    /*box-shadow: -10px 10px 20px 0 rgba(30, 30, 30, 0.05);*/
    background-color: #ffffff;
	width: 100%;
}
h3{
	font-size: 18px;
	font-weight: 600;
	padding: 10px;
	margin-bottom: 0;
	background-color: #fff;
}

.article-list{
}
.article-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.article-list ul li{
	color: #484848;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #d3d3d3;
    padding:12px 10px 12px 32px;
    position: relative;
	background: #ffffff;
	/*background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );*/
}
.article-list ul li a{
	color: #2262A0;
	font-size: 14px;
	font-weight: 400;
}
.article-list ul li:last-child{
	border-bottom: none;
}
.article-info{
	color: #9FA1A2;
	font-weight: 400;
}
/*-- Dash CSS End--*/


.styled-select {
   
   height: 29px;
   overflow: hidden;
   width: 268px;
}
.styled-select select {
                background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0 #2262A0;
   border: none;
   font-size: 10px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
                -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
                color:#fff;
}
.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.blue{
                background-color: #3b8ec2;
}
.clean-dropdown button, .clean-dropdown button:hover, .clean-dropdown button:active, .clean-dropdown button:focus, .clean-dropdown button:active:focus{
	background-color: transparent !important;
    color: #6A6A6A !important;
    border: none;
	border-radius: 0;
	font-size: 16px;
	box-shadow: none !important;
}
.clean-dropdown.show button:hover, .clean-dropdown.show button:active, .clean-dropdown.show button:focus{
	background-color: transparent ;
    color: #6A6A6A;
    border: none;
	border-radius: 0;
	font-size: 16px;
}
.artical-count{
	font-size: 16px;
	font-weight: 600;
	color: #393939;
	text-align: right;
	padding-right: 15px;
	padding-top: 6px;
}

.flex-box{
	position: absolute;
	top: 43px; 
	right: 15px; 
	bottom: 25px; 
	left: 15px; 
	display: flex;
}
.flex-scroll{
	overflow: auto; min-height: 0;
}

/*Dash 2*/
.widget-content{
	padding: 10px 15px;
	border: solid 1px #EAEAEA;
	border-radius:5px;
}
.widget-head{
	padding: 10px 0;
	font-size: 16px;
	color: #6A6A6A;
}
.widget-icon{
	position: relative;
	display: inline-block;
	top:2px;
	
}
.widget-content ul{
	margin: 0;
	padding: 0;
}
.widget-content ul li{
	display: inline-block;
	font-size: 18px;
	margin: 3px;
	background-color: #f2f5fa;
	padding: 0px 6px;
	border-radius:3px;
}
.widget-content ul li a{
	text-decoration: none;
}
.widget-content ul li a:hover{
	text-decoration: underline;
}
.widget-content ul li a.green{
	color: #0FA203;
	background-color: transparent;
}
.widget-content ul li a.red{
	color: #D86161;
	background-color: transparent;
}
.widget-content ul li a.blue{
	color: #2262A0;
	background-color: transparent;
}
.custom-pills>li>a{
	border-radius: 5px;
	padding: 7px 28px;
	background-color: #2262A0;
	color: #fff;
	text-decoration: none;
	border-color: #F8E367;
}
.custom-pills>li+li {
    margin-left: 10px;
}
.custom-pills>li.active>a, .custom-pills>li.active>a:focus, .custom-pills>li.active>a:hover{
	background-color: #F8E367;
	border-color: #F8E367;
}
.custom-pills>li>a:focus, .custom-pills>li>a:hover {
    background-color: #F8E367;
	color: #2262A0;
	text-decoration: none;
	border-color: #F8E367;
}
.custom-pills>li.active>a{
	color: #2262A0;
}
.article-check{
	position: absolute;
    left: 0px;
    top: 11px;
}
/*Dash 2 End*/

.q-heading, .q-heading:hover, .q-heading:active{
	display: block;
    text-decoration: none;
    padding: 12px 16px;
	background-color: #EAEAEA;
	font-size: 14px;
	color: #6A6A6A;
	border-radius: 10px 10px 0 0;
}
.q-heading i{
	font-size: 30px;
    display: block;
    position: relative;
    margin: 3px 0 0 0;
    float: right;
	color: #CECDCD;
	top:-7px;
}
.ai-info .ai-row{
	border-bottom: solid 1px #CECDCD;
	padding: 10px 15px;
}
.ai-info .ai-row:first-child{
	border-top: solid 1px #CECDCD;
}
.ai-info .ai-row:last-child{
	border-bottom: none;
	border-radius: 0 0 10px 10px;
}
.control-label{
	font-size: 12px;
	font-weight: 700;
	color: #262626;
}
.form-group{
	margin-bottom: 12px;
	
}
.info{
	font-weight: 400;
	font-size: 12px;
	color:#262626;
}
.q-btn{
	width: 75px;
}
.fill-red {

	fill: #dc3545;
  
  }

  .custom-nav li a.disabled, .custom-nav li a.disabled:hover, .custom-nav li a.disabled{

	background-color: #e2e2e2;

	color: #afafaf !important;
	cursor: not-allowed;

}
.custom-nav li a.disabled:hover{
	font-weight: 400;
}
.impact-form,
.impact-form input,
.impact-form textarea, 
.impact-form select{
	font-size: 13px;
}

.impact-form label {
	font-size: 13px;
	color: #262626;
	font-weight: normal !important;
	margin-bottom:0;
}

.impact-primary {
	background-color: #2262A0;
	font-size: 13px;
	color: #fff;
	border-radius: 5px;
	padding: 10px auto;
	text-align: center;
	min-width: 96px;
}

.impact-secondary {
	background-color: #9FA1A2;
	font-size: 13px;
	color: #fff;
	border-radius: 5px;
	padding: 10px auto;
	text-align: center;
	min-width: 96px;
}
.red-cross{
	font-size: 22px;
	color: #dc3545;
	position: relative;
	top: 3px;
}
.green-cross{
	font-size: 22px;
	color: #28a745;
	position: relative;
	top: 3px;
}
.yellow-cross{
	font-size: 22px;
	color: #ffc107;
	position: relative;
	top: 3px;
}
.quickview{
	font-size: 15px;
	position: relative;
	top: 1px;
	font-weight: 700;
	color: #2262A0;
}
.quickview:hover{
	text-decoration: none;
}
.uitag{
	padding:2px 4px;
	color: #fff;
	border-radius: 3px;
	margin: 3px;
	display: inline-block;
}
.companytag{
	background-color: #28a745;
}
.comptag{
	background-color: #dc3545;
}
.industrytag{
	background-color: #ffc107;
	color: #000;
}
.othertag{
	background-color: #fff;
	border:solid 1px #707070;
	color: #707070;
}
.searchformtag{
	border-radius: 3px;
	color:#fff;
	background-color: #2262A0;
	padding: 3px 5px;
	display: inline-block;
	margin: 3px;
}
.searchformtag a, .searchformtag a:hover, .searchformtag a:active{
	text-decoration: none;
	color:#fff;
}
.impact-form{
	margin-bottom: 15px;
}









/* multi select dropdown css */

.c-btn {
  background: #fff;
  border: 1px solid #ccc;
  color: #333; }

.selected-list .c-list .c-token {
  background: #2262a0; }
  .selected-list .c-list .c-token .c-label {
    color: #fff; }
  .selected-list .c-list .c-token .c-remove svg {
    fill: #fff; }

.selected-list .c-angle-down svg, .selected-list .c-angle-up svg {
  fill: #333; }

.dropdown-list ul li:hover {
  background: #f5f5f5; }

.arrow-up, .arrow-down {
  border-bottom: 15px solid #fff; }

.arrow-2 {
  border-bottom: 15px solid #ccc; }

.list-area {
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0px 1px 5px #959595; }

.select-all {
  border-bottom: 1px solid #ccc; }

.list-filter {
  border-bottom: 1px solid #ccc; }
  .list-filter .c-search svg {
    fill: #888; }
  .list-filter .c-clear svg {
    fill: #888; }

.pure-checkbox input[type="checkbox"]:focus + label:before, .pure-checkbox input[type="checkbox"]:hover + label:before {
  border-color: #0079FE;
  background-color: #f2f2f2; }

.pure-checkbox input[type="checkbox"] + label {
  color: #000; }

.pure-checkbox input[type="checkbox"] + label:before {
  color: #0079FE;
  border: 1px solid #9FA1A2; }

.pure-checkbox input[type="checkbox"] + label:after {
  background-color: #0079FE; }

.pure-checkbox input[type="checkbox"]:disabled + label:before {
  border-color: #cccccc; }

.pure-checkbox input[type="checkbox"]:disabled:checked + label:before {
  background-color: #cccccc; }

.pure-checkbox input[type="checkbox"] + label:after {
  border-color: #ffffff; }

.pure-checkbox input[type="radio"]:checked + label:before {
  background-color: white; }

.pure-checkbox input[type="checkbox"]:checked + label:before {
  background: #2262a0; }

.selected-item {
  background: #e9f4ff; }

.btn-iceblue {
  background: #0079FE;
  border: 1px solid #ccc;
  color: #fff; }
  
.dropdown-list ul li{
  padding:2px 0 2px 10px !important;
}
.grp-title label{
	font-weight:bold !important;
}
.grp-title input[type=checkbox]+label{
	display:none;
}

.pure-checkbox input[type=checkbox]+label:before{
	box-sizing: content-box;
    content: '';
	height:13px !important;
	width:13px !important;
}
.pure-checkbox input[type=checkbox]+label:after {
    box-sizing: content-box;
    content: '+' !important;
    position: absolute;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
    background-color: transparent;
    top: 50%;
    left: 3px;
    width: 8px;
    height: auto !important;
    margin-top: -11px !important;
    border:none !important;
    -o-border-image: none;
    border-image: none;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
	color:#fff;
	font-weight:bold;
}
.pure-checkbox input[type=checkbox]:checked+label:after {
    content: '';
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
    -webkit-transform: scale(1) !important;
    transform:scale(1) !important;
}


.ngx-datepicker-container[_ngcontent-c4] .ngx-datepicker-calendar-container[_ngcontent-c4] {
	z-index: 1 !important;

}


.light-red-bg{
	background-color:#ffcacf;
	border: solid 1px #ffcacf;
}
.light-green-bg{
	background-color:#c0e7c9;
	border: solid 1px #c0e7c9;
}
.light-yellow-bg{
	background-color:#ffeaaa;
	border: solid 1px #ffeaaa;
}