<div class="container-fluid d-flex h-100">
	<div class="row flex-grow-1">
		
		<div class="q-body-outer">
		<!-- Left Panel -->
		<div class="col-md-3 qualification-panel p-0 border-right" style="overflow-y: auto;">
		<div class="d-flex flex-column">
			<div class="qbox">
				<a class="q-heading" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
					Article Information
					<i class="fa fa-chevron-down"></i>
				</a>
				<div class="collapse show" id="collapseExample">
				  <div class="card card-body border-0 p-0 ai-info">
					
					
					<table class="table mb-0">
					  <tbody>
						<tr>
						  <th class="control-label">Byline</th>
						  <td class="info">Not Available</td>
						</tr>
						<tr>
						  <th class="control-label">Keywords</th>
						  <td class="info">Not Available</td>
						</tr>
						<tr>
						  <th class="control-label">Company</th>
						  <td class="info">None</td>
						</tr>
						<tr>
						  <th class="control-label">Competitor</th>
						  <td class="info">None</td>
						</tr>
						<tr>
						  <th class="control-label">Industry</th>
						  <td class="info">None</td>
						</tr>
						<tr>
						  <th class="control-label">Others</th>
						  <td class="info">None</td>
						</tr>
					  </tbody>
					</table>
					
				  </div>
				</div>
			</div>
			
			<div class="qbox">
				<a class="q-heading collapsed" data-toggle="collapse" href="#tree" role="button" aria-expanded="false" aria-controls="tree">
					Parameters
					<i class="fa fa-chevron-down"></i>
				</a>
				<div class="collapse" id="tree">
				  <div class="card card-body border-0 p-0 ai-info">
						<div class="tree-box box-border">
			  <ul class="trees mb-0">
				<li class="has-child">
				  <input id="tree-controll1" type="checkbox" ><span class="tree-control"><span class="fa fa-caret-right"></span></span>
				  <label>
					   <input type="radio">
					Portail Gestionnaire main d'oeuvre (RPOP)
				  </label>
				  <ul>
					<li class="has-child">
					  <input type="checkbox" ><span class="tree-control"><span class="fa fa-caret-right"></span></span>
					  <label>
						   <input type="radio">
						Administration des accès
					  </label>
					  <ul>
						<li>
						  <label>
							   <input type="radio">
							Gérer les profils
						  </label>
						</li>
						<li>
						  <label>
							   <input type="radio">
							Gérer les modules
						  </label>
						</li>
						<li>
						  <label>
							   <input type="radio">
							Gérer les délégations
						  </label>
						</li>
						<li>
						  <label>
							   <input type="radio">
							Gérer les utilisateurs
						  </label>
						</li>
						<li>
						  <label>
							   <input type="radio">
							Déclarer les PO
						  </label>
						</li>

					  </ul>
					</li>

					<li class="has-child">
					  <input type="checkbox" ><span class="tree-control"><span class="fa fa-caret-right"></span></span>
					  <label>
						   <input type="radio">
						Gestion opérationnelle du périmètre
					  </label>
					  <ul>
						<li>
						  <label>
							   <input type="radio">
							Gérer les PO
						  </label>
						</li>
						<li>
						  <label>
							   <input type="radio">
							Gérer les favoris
						  </label>
						</li>
						<li>
						  <label>
							   <input type="radio">
							 Fiche du PO
						  </label>
						</li>

					  </ul>
					</li>
				  </ul>
				</li>
				<li class="has-child">
				  <input id="tree-controll2" type="checkbox" ><span class="tree-control"><span class="fa fa-caret-right"></span></span>
				  <label>
					   <input type="radio">
					   Portail Gestionnaire main d'oeuvre (RPOP)
				  </label>
				  <ul>
					<li class="has-child">
					  <input type="checkbox" ><span class="tree-control"><span class="fa fa-caret-right"></span></span>
					  <label>
						   <input type="radio">
							Administration des accès
					  </label>
					  <ul>
						<li>
						  <label>
							   <input type="radio">
							  
							 Gérer les profils
						  </label>
						</li>
						<li>
						  <label>
							   <input type="radio">
							 Gérer les modules
						  </label>
						</li>
						<li>
						  <label>
							   <input type="radio">
							 Gérer les délégations
						  </label>
						</li>
						<li>
						  <label>
							   <input type="radio">
							 Gérer les utilisateurs
						  </label>
						</li>
						<li>
						  <label>
							   <input type="radio">
							 Déclarer les PO
						  </label>
						</li>

					  </ul>
					</li>

					<li class="has-child">
					  <input type="checkbox" ><span class="tree-control"><span class="fa fa-caret-right"></span></span>
					  <label>
						   <input type="radio">
							Gestion opérationnelle du périmètre
					  </label>
					  <ul>
						<li>
						  <label>
							   <input type="radio">
							 Gérer les PO
						  </label>
						</li>
						<li>
						  <label>
							   <input type="radio">
							 Gérer les favoris
						  </label>
						</li>
						<li>
						  <label>
							   <input type="radio">
							 Fiche du PO
						  </label>
						</li>

					  </ul>
					</li>
				  </ul>
				</li>
			  </ul>
			</div>
				  </div>
				</div>
			</div>
			
			
			<div class="qbox">
				<a class="q-heading collapsed" data-toggle="collapse" href="#comment" role="button" aria-expanded="false" aria-controls="comment">
					Comment
					<i class="fa fa-chevron-down"></i>
				</a>
				<div class="collapse" id="comment">
				  <div class="card card-body border-0 p-0 ai-info" style="white-space: nowrap;">
					<div class="form-group">
					<textarea class="form-control" rows="3" style="height:auto; font-size: 14px;" placeholder="Type your comment"></textarea>
				</div>
				  </div>
				</div>
			</div>
			<div class="qbox">
				<a class="q-heading collapsed" data-toggle="collapse" href="#reject" role="button" aria-expanded="false" aria-controls="reject">
					Reject Article
					<i class="fa fa-chevron-down"></i>
				</a>
				<div class="collapse" id="reject">
				  <div class="card card-body border-0 ai-info" style="display:block;">
					<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
					<label class="form-check-label" for="inlineRadio1">Yes</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
					<label class="form-check-label" for="inlineRadio2">No</label>
				</div>
				  </div>
				</div>
			</div>
			
			<div class="qbox pl-2" style="position:relative;">
				<div style="">
												<div style="overflow: auto; height:300px;">


													<div class="article-list">

																<ul>
																	<li>
																		<a href="#">Govt willing to spend Rs100 cr on T farmers' Israel junket</a>
																		<div class="article-check">
																			<span class="checkbox-input showcase">
																				<input id="showcase" name="check" type="checkbox">
																				<label for="showcase"></label>
																			</span>
																		</div>
																	</li>
																	<li>
																		<a href="#">Govt willing to spend Rs100 cr on T farmers' Israel junket</a>
																		<div class="article-check">
																			<span class="checkbox-input showcase">
																				<input id="showcase" name="check" type="checkbox">
																				<label for="showcase"></label>
																			</span>
																		</div>
																	</li>
																	<li>
																		<a href="#">Govt willing to spend Rs100 cr on T farmers' Israel junket</a>
																		<div class="article-check">
																			<span class="checkbox-input showcase">
																				<input id="showcase" name="check" type="checkbox">
																				<label for="showcase"></label>
																			</span>
																		</div>
																	</li>
																	<li>
																		<a href="#">Govt willing to spend Rs100 cr on T farmers' Israel junket</a>
																		<div class="article-check">
																			<span class="checkbox-input showcase">
																				<input id="showcase" name="check" type="checkbox">
																				<label for="showcase"></label>
																			</span>
																		</div>
																	</li>
																	<li>
																		<a href="#">Govt willing to spend Rs100 cr on T farmers' Israel junket</a>
																		<div class="article-check">
																			<span class="checkbox-input showcase">
																				<input id="showcase" name="check" type="checkbox">
																				<label for="showcase"></label>
																			</span>
																		</div>
																	</li>
																	<li>
																		<a href="#">Govt willing to spend Rs100 cr on T farmers' Israel junket</a>
																		<div class="article-check">
																			<span class="checkbox-input showcase">
																				<input id="showcase" name="check" type="checkbox">
																				<label for="showcase"></label>
																			</span>
																		</div>
																	</li>
																	
																</ul>
															</div>

												</div>
												</div>
			</div>
			
		</div>
		</div>
		<!-- Left Panel End -->
		<!-- Right Panel -->
		<div class="col-md-9 py-3" style="overflow-y: auto; background-color:#F2F5FA;">
			<div class="row">
				<div class="col-md-6"><span class="control-label mb-0">News monitored for: Demo - Telecom</span></div>
				<div class="col-md-6 text-right"><img src="https://portal.myimpact.in/assets/images/login-mpactlogo.png" width="100" alt=""></div>
			</div>
			<div class="row pt-3">
				<div class="col-md-4">
					<div class="form-group row">
						<span class="col-sm-12 control-label mb-0">The Economic Times On Saturday</span>
					</div>
					<div class="form-group row">
						<span class="col-sm-12 control-label mb-0">Mumbai 14 Apr 2018</span>
					</div>
					<div class="justify-content-end">
						<button type="button" class="btn q-btn">PDF</button>
						<button type="button" class="btn q-btn">HTML</button>
						<button type="button" class="btn q-btn">Email</button>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group row">
						<span class="col-sm-4 control-label mb-0">Page No.</span>
						<div class="col-sm-8 info">6</div>
					</div>
					<div class="form-group row">
						<span class="col-sm-4 control-label mb-0">Page Name:</span>
						<div class="col-sm-8 info">N.A.</div>
					</div>
					<div class="form-group row">
						<span class="col-sm-4 control-label mb-0">Size:</span>
						<div class="col-sm-8 info">207 sq. cm.</div>
					</div>
					<div class="form-group row">
						<span class="col-sm-4 control-label mb-0">AVE:</span>
						<div class="col-sm-8 info">INR 455,062</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 info">&copy; The Economic Times on Saturday</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group row">
						<span class="col-sm-4 control-label mb-0">Type</span>
						<div class="col-sm-8 info">Newspaper</div>
					</div>
					<div class="form-group row">
						<span class="col-sm-4 control-label mb-0">Language:</span>
						<div class="col-sm-8 info">English</div>
					</div>
					<div class="form-group row">
						<span class="col-sm-4 control-label mb-0">Circulation:</span>
						<div class="col-sm-8 info">223,183</div>
					</div>
					<div class="form-group row">
						<span class="col-sm-4 control-label mb-0">Frequency:</span>
						<div class="col-sm-8 info">Weekly</div>
					</div>
					<div class="form-group row">
						<span class="col-sm-4 control-label mb-0">Page:</span>
						<div class="col-sm-8 info">1 of 1</div>
					</div>
				</div>
				
				<div class="col-md-8 offset-2 mt-3" style="border-bottom: solid 1px #EDEBEB;"></div>
			</div>
			<div class="row">
				<div class="col-md-12 mt-3 text-center">
					<img src="https://myimpact.in/backup/remote_2107image/8bdf6dd7-e5d6-11eb-bb29-b8763fb30b8a02.jpg" class="img-fluid">
				</div>
			</div>
		</div>
		<!-- Right Panel End -->
	</div>
</div>
